

body {
    background-image: url("images/home-header.jpg");
    background-size: cover;
    font-family: 'VT323', monospace;
}

h1 {
    text-align: center;
    font-size: 200px;
    margin: 60px auto;
}

#drumBoard {
    width: 98%;
    height: 200px;
    text-align: center;
    margin: 50px auto 0 auto;
}

.key {
    display: inline-block;
    margin: 26px 0 0 0;
    text-align: center;
    transition: all .02s;
    width: 10%;
}

img {
    width: 100%;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.clicked {
    position: relative;
    bottom: 20px;
    margin: 0;
    filter: hue-rotate(133deg);
    transform: scale(1.2);
    box-shadow: red;
    transition: all .15s;
}


@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 4.5em;
    margin: 1rem auto 0 auto;
    }
    
    #drumBoard {
    margin: 0 auto;
    height: 80%vh;
}

.key {
    transition: all .05s;
    width: 30%;
    margin-top: 30px;
}

p {
    display: none;

    
  }
